// Colors
$primary-color: #5EA164;
$grey-color: #F2F2F2;
$dark-grey: #404040;
$secondary-text-color: #666666;
$black: #000;
$white: #FFFF;
$top-bar-fill: rgba($grey-color, 0.9);
$primary-color-inactive: rgba($primary-color, 0.5);
$primary-font: "Cabin";
$secondary-font: "Aleo";


// Fonts
@mixin font-button-top {
    font-family: $primary-font;
    font-size: 1em;
    color: $primary-color;
}

@mixin font-header-call {
    font-family: $primary-font;
    font-size: calc(30/18em);
    color: $dark-grey;
}

@mixin font-button-join {
    font-family: $primary-font;
    font-size: 1em;
    color: $white;
}

@mixin font-feature-header {
    font-family: $secondary-font;
    font-size: calc(30/18)em;
    color: $dark-grey;
}

@mixin font-feature-desc {
    font-family: $primary-font;
    font-size: 1em;
    color: $black;
}

@mixin font-quotes {
    font-family: $primary-font;
    font-size: 2em;
    color: $secondary-text-color;
}

@mixin font-testimonial {
    font-family: $primary-font;
    font-size: 1.11em;
    color: $secondary-text-color;
    line-height: 142%;
}

@mixin font-start {
    font-family: $secondary-font;
    font-size: 1.333em;
    color: $dark-grey;
}

@mixin font-footer {
    font-family: $primary-font;
    font-size: calc(20/18em);
    color: $secondary-text-color;
}


* {
    box-sizing: border-box;
  }

// Fonts
//cabin 18 button green top
//cabin 30 404040 header-call
//cabin 18 grey white button join for free
//aleo 30 404040 features headers
//cabin 18 00000 features description
//cabin 36 666666 quote marks
//cabin 20 666666 testimonial
//Aleo 24 404040 get started today
//cabin 18 FFFFF button join for free
//cabin 20 666666 footer text

//cabin 18 button green top
//cabin 18 grey white button join for free
//cabin 18 00000 features description
//cabin 18 FFFFF button join for free
//cabin 20 666666 testimonial
//cabin 20 666666 footer text
//cabin 30 404040 header-call
//cabin 36 666666 quote marks
//Aleo 24 404040 get started today
//Aleo 30 404040 features headers








body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size:18px;
}

h1 {
    @include font-feature-header;
}

.featureDesc {
    @include font-feature-desc;
}

header {
    @include font-button-top;
    height: 500px;
    background-image: url("./img/headerBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.logoBanner {
    margin-left: auto;
    padding-left: 10px;
    padding-top: 10px;
    background-color: $top-bar-fill;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.signIn {
    @include font-button-top;
    float: right;
    width: 120px;
    height: 50%;
    background-color: none;
    border: 1px solid $primary-color;
    margin-right: 10px;
    border-radius: 7px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: auto;
    margin-bottom: auto;
} 

.headerMain {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 60%;
    padding-top: 12%;
    text-align: center;
}

.headerMain p {
    font-family: Cabin;
    font-size: 1.55rem;
    color: $dark-grey;
    padding-bottom: 15px;
}

.join {
    @include font-button-join;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 7px;
    padding: 10px 7% 10px 7%;
    margin-left: auto;
    margin-right: auto;
} 

.features {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;
}

.features svg{
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    width: 140px;
    padding: 10px 0px 10px 0px;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-content: space-between;
}

.featuresHeader {
    font-family: Aleo;
    text-align: center;
    color: $dark-grey;
    font-size: 34px;
}

.featuresHeader p {
    font-family: Cabin;
    text-align: center;
    color: $dark-grey;
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
}

.testimonials {
    display: flex;
    flex-direction: row;
    background-color: $grey-color;
    height: 501px;
}

.featureImage {
    width: 41.2%;
    background-image: url("./img/Rectangle4.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 501px;
    margin: auto;
}

.testimonialDetail {
    margin: 10% 0 2% 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 59.8%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

blockquote {
    @include font-testimonial;
    padding-left: 1em;
    padding-right: 1em;

}

blockquote::before {
    content: '\201C';
    @include font-quotes;
    margin-left: -18px;
}

blockquote::after {
    content: '\201D';
    @include font-quotes;
}

.testimonialDetail p{
    @include font-testimonial;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.alignRight {
    text-align: right;
}

.dotsContainer {
    height: 24px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;

}

.testimonialDots {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.testimonialDot {
    background-color: $primary-color-inactive;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.activeDot {
    background-color: $primary-color;
}

.getStarted {
    padding-top: 2%;
    padding-bottom: 7%;
    width: 100%;
    text-align: center;
}

.getStarted p {
    @include font-start;
}

footer {
    width: 100%;
    background-color: $grey-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Cabin;
    color: $secondary-text-color;
    font-size: 18px;
}

.footerLinks {
    padding-left: 5%;
}

.socialIcons {
    padding-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    height: 32px;
}

footer a{
    @include font-footer;
    text-decoration: none;
}

.socialIcons svg{
    padding-right: 10px;
}


